DATABASE_URL=file:local.db
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
REQUIRED_GUILD_ID=
REQUIRED_ROLE_ID=
ADMIN_DISCORD_USER_IDS= # comma seperated list ("499241460973961115,239241460739613123")
